.ask-me {
    height: 300px;
    width: 400px;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
}

.ask-me-form {
    background-color: #345830;
    height: 380px;
    width: 400px;
    float: right;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-top: 2%;
    margin-right: 3%;
    border-radius: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ask-me-form-margin {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 12px 20px;
    width: 37%;
    border-radius: 4px;
}

select.ask-me-form-margin {
    width: 97%;
}

.ask-me-form-margin:hover {
    background-color: yellowgreen;
}

.ask-me-form-long {
    width: 87%;
}

button.ask-me-form-margin {
    width: 388px;
    background-color: wheat;
    color: black;
    font-size: 18px;
}

.size {
    height: 90px;
}