.ask-me {
    height: 300px;
    width: 400px;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
}

.ask-me-form {
    background-color: #345830;
    height: 400px;
    width: 400px;
    float: right;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-top: 2%;
    margin-right: 3%;
    border-radius: 30px;
}

.ask-me-form-margin {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    width: 37%;
}

.ask-me-form-margin:hover {
    background-color: yellowgreen;
}

.ask-me-form-long {
    width: 87%;
}