.new-sort {
    padding-top: 3%;
    padding-bottom: 2%;
    background-color: #134751;
    height: 280px;
}

.name-flower {
    text-align: center;
    color: ivory;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.flower {
    float: left;
    margin: 20px;
    height: 100px;
    width: 100px;
}

.name-flower>a {
    color: #2e8514;
}