.title-block {
    background-image: url(https://glavcom.ua/img/article/5739/37_main.jpg);
}

.title-element {
    top: 25%;
}

.button-go {
    background-color: firebrick;
    width: 300px;
    height: 70px;
    font-size: 25px;
    margin-top: 7%;
}